@use "./base.scss";

html[saved-theme="dark"] {
    background-image: url("/DART_Levi_Dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  html[saved-theme="light"] {
    background-image: url("/DART_Levi_Light.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  